[build]
builder = "NIXPACKS"

[build.nixpacksPlan.phases.setup]
nixPkgs = ["nodejs", "yarn"]

[build.nixpacksPlan.phases.install]
cmds = ["yarn install"]

[deploy]
startCommand = "medusa migrations run && medusa start"
healthcheckPath = "/health"
healthcheckTimeout = 300

