[build]
builder = "nixpacks"
buildCommand = "yarn install --frozen-lockfile && NODE_OPTIONS=--max-old-space-size=2048 yarn build"

[deploy]
startCommand = "yarn start"
healthcheckPath = "/health"
healthcheckTimeout = 300

